################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HWork/v16/.suo
/.vs/HWork/DesignTimeBuild/.dtbcache.v2
/bin/Debug/net5.0/ref
/bin/Debug/net5.0
/obj
