################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HWork/.vs/HWork
/HWork/HWork/bin/Debug/net5.0
/HWork/HWork/obj
/HWork/HWork.Tests/bin/Debug/net5.0
/HWork/HWork.Tests/obj
